body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.grid {
  padding: 5rem;
  border: .3rem solid rgb(187, 144, 159);
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
  color: rgb(181, 219, 207);
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  margin: 2rem 0;
  width: fit-content;
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}